{% load custom_tags %}

<fieldset class="h-100">
  <legend>
    {{ legend }}:
  </legend>
  <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-6 border border-secondary p-2">
  {% for item in query_for %}
    <div class="col-2 p-2">
      <input type="checkbox"
             class="btn-check"
             name="{{ legend|lower }}"
             value="{{ item.id }}"
             id="id_{{ legend|lower }}_{{ item.id }}"
             autocomplete="off"
             checked
             disabled
      >
      <label class="btn btn-outline-primary w-100 h-100 d-flex justify-content-center align-items-center"
             for="id_{{ legend|lower }}_{{ item.id }}"
             style="word-break: break-word">
        <span class="text-center">{{ item|get_attribute:field }}</span>
      </label>
    </div>
  {% endfor %}
  </div>
</fieldset>
