{% extends "base.html" %}

{% block search_title_create %}
  {% include "includes/header/search_title_create.html" %}
{% endblock %}
{% block main %}
  <div class="card">
    <div class="card-header">
      {% include "includes/header/search_title_create.html" %}
    </div>
    <div class="card-body">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
        {% for item in object_list %}
          <div class="col">
            {% include "includes/cards/card.html" with item=item %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="card-footer">
      {% include "includes/pagination.html" %}
    </div>
  </div>
  {% include "includes/confirm_form.html" %}
{% endblock %}

