{% extends "base.html" %}

{% block header %}
  {% include "includes/header/search_title_create.html" with create_url_page=create_url_page title=title %}
{% endblock %}
{% block main %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4">
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
    <div class="col">
      {% include "includes/buttons/card.html" %}
    </div>
  </div>
{% endblock %}
