{% extends "base.html" %}

{% block header %}
  {% with object|yesno:"Update,Create" as action %}
    <div class="col">
      <h1 class="display-4">{{ action|stringformat:"s a dish" }}</h1>
    </div>
  {% endwith %}
{% endblock %}
{% block main %}
  <form action="" method="post" enctype="multipart/form-data" class="text-start" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-3">
        <div class="card text-center">
          <label for="image" class="btn btn-secondary">Set image</label>
          <input type="file" class="form-control visually-hidden" id="image">
          <label for="image">
            <img class="card-img-top" width="100%" height="230">
          </label>
          <div class="card-body">
            <label for="name" class="visually-hidden form-label">Name</label>
            <input type="text"
                   class="form-control {% include "includes/form_validate.html" with validator=form.name.errors %}"
                   id="name" name="name" placeholder="Write a name..." required>
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                {{ error }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 mb-3">
        <div class="row">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="10"></textarea>
          </div>
          <div class="col">
            <div class="">
              <label for="price" class="form-label visually-hidden">Price</label>
              <input type="text"
                     class="form-control {% include "includes/form_validate.html" with validator=form.price.errors %}"
                     id="price" name="price" placeholder="Price..." required>
              <div class="invalid-feedback">
                {% for error in form.price.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col">
            <label for="dish_type" class="visually-hidden"></label>
            <select class="form-select {% include "includes/form_validate.html" with validator=form.dish_type.errors %}"
                    id="dish_type" name="dish_type" required>
              <option selected disabled value="">Choose dish type</option>
              {% for item in form.dish_type.field.queryset %}
                <option value={{ item.id }}>{{ item }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              {% for error in form.dish_type.errors %}
                {{ error }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <fieldset>
          <legend>Cooks:</legend>
          <div id="id_cooks" class="border border-secondary p-3">
            <div class="row g-3">
              {% for cook in form.cooks.field.queryset %}
                <div class="col-1">
                  <div class="card w-100 h-100">
                    <input type="checkbox" class="btn-check" name="cooks" value="{{ cook.id }}" id="id_cooks_{{ cook.id }}" autocomplete="off">
                    <label class="btn btn-outline-primary w-100 h-100 d-flex justify-content-center align-items-center"
                           for="id_cooks_{{ cook.id }}" style="word-break: break-word">
                      <span class="text-center">{{ cook.username }}</span>
                    </label>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col text-end">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
  </form>
{% endblock %}
