{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "includes/config/meta.html" %}
  <title>Kitchen Service</title>
  {% include "includes/config/head-links.html" %}
</head>
<body>
  <header class="sticky-top">
    {% include "includes/navbar.html" %}
  </header>
  <div class="container text-center p-4">
  </div>
  {% block search_title_create %}
  {% endblock %}
  <main class="container text-center">
    {% block main %}
    {% endblock %}
  </main>
  {% include "includes/footer.html" %}
  {% include "includes/config/js-scripts.html" %}
</body>
</html>
