<div class="col">
  <div class="card text-center">
    <a href="{% url "kitchen:index" %}">
      <img class="card-img-top" width="100%" height="230">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
      </div>
    </a>
    <button class="btn btn-danger btn-lg align-self-end position-absolute d-block" type="submit">
      X
    </button>
    <button class="btn btn-success btn-lg align-self-start position-absolute d-block px-3" type="submit">
      ✏️
    </button>
  </div>
</div>
